[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/serverhorror/vim-surround.git
  ignore = untracked
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
  ignore = untracked
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule ".vim/bundle/calendar"]
	path = .vim/bundle/calendar
	url = https://github.com/vim-scripts/calendar.vim--Matsumoto.git
  ignore = untracked
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
  ignore = untracked
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
  ignore = untracked
[submodule ".vim/bundle/clangcomplete"]
	path = .vim/bundle/clangcomplete
	url = https://github.com/Rip-Rip/clang_complete.git
  ignore = untracked
[submodule ".vim/bundle/l9"]
	path = .vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
  ignore = untracked
[submodule ".vim/bundle/easygrep"]
	path = .vim/bundle/easygrep
	url = https://github.com/gmccreight/vim-easygrep.git
  ignore = untracked
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
  ignore = untracked
[submodule ".vim/bundle/fuzzyfinder"]
	path = .vim/bundle/fuzzyfinder
	url = https://github.com/wesbaker/FuzzyFinder
  ignore = untracked
